<head>
    <body>
        <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">Свържете с мен</h2>
        </div>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-59c981e7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="59c981e7" data-element_type="section">
            <div class="elementor-container elementor-column-gap-wider">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-652344b5" data-id="652344b5" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-2a734ea elementor-widget elementor-widget-text-editor" data-id="2a734ea" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-text-editor elementor-clearfix">
                                            <p>Може да се свържете с мен на посочения телефонен номер или Email.</p>
                                            <p>
                                            <strong>e-mail</strong>: g.georgiev2017@pmg-pernik.com</p>
                                            <p><strong>gsm</strong>: 089 99 8882</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</head>