
@{
    ViewData["Title"] = "ForUs";
}
<h1>За нас</h1>
<head>
    <body>
        <h6> Повече за нас: </h6>
        <p> Компанията, която стои зад MyPet е основана през 2022 година.Основната дейност на компанията е в търговията на дребно и доставяне на максимално качествени продукти на много достъпни цени за своите крайни клиенти.</p>
        <h6> Кои сме ние: </h6>
        <p> Основателите на mypetshop.bg са дългогодишни специалисти и професионалисти в предоставянето на търговски услуги.Идваме с над 9 години международен опит в онлайн търговията. </p>
        <h6> Нашата мисия: </h6>
        <p> През всичките тези години на сътрудничество с други колеги ние събрахме най-успешните методи и анализирахме внимателно потребителското поведение на потребителите в страната.Така ние създадохме MyPet. Целта ни е максимално лесно да достигнете до желания от вас продукт и обслужването да бъде на едно много добро ниво. </p>
        <h6>Какви са предимствата да пазарувате от онлайн зоомагазин</h6>

        <p> По-ниска цена на стоките от обикновените магазини; </p>

        <p> Не губите време в търсене на стоката, която желаете да закупите; </p>

        <p>Можете да планирате разходите си за по-дълъг период от време и да спестите от цената за доставката.;</p>
        <p> Можете да резервирате желания от вас продукт или домашен любимец </p>
    </body>
</head>

