@{
    ViewData["Title"] = "Home Page";
}
<head>
    <body>
        <div class="text-center">
            <a href="https://localhost:5001/Products/Pets">
                <img loading="lazy" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYBvgCwpWui4OEU48Uu5UuirAs-ubT6ZXQIw&usqp=CAU">
            </a>
            <div class="owl-item" style="width: 100px; margin-left: 100px;">
            </div>
        </div>
        <div id="shop-seo-text" class="category-seo-text">
        <h1>Онлайн зоомагазин за домашни любимци</h1>
        <p class="marg">Онлайн магазин MyPet посреща своите гости и клиенти!</p> 
        <p class="marg">"Ние" сме опитен и сплотен екип.Ние поемаме професионална отговорност за работата си и се гордеем с нея.Как би могло да бъде иначе, когато става дума за здравето и благосъстоянието на нашите „по-малки братя”, които вярват на хората?</p> 
        <p class="marg">Обръщайки се към нашия магазин за домашни любимци- собствениците на домашни любимци ще намерят всичко, което е необходимо за удобната поддръжка на домашни любимци.Нашият магазин за домашни любимци представя на своите страници хиляди продукти от световни лидери в производството на продукти за домашни любимци.Гордеем се с постоянно високото качество на нашите продукти, отлично обслужване и балансирана ценова политика.</p>
        <h2>Какви продукти можете да намерите на онлайн страницата на зоомагазин MyPet</h2> 
        <p class="marg">Нашият онлайн пазар предлага широка гама от продукти за нашите по-малки братя.Някои хора обичат котки, други кучета, трети папагали или хамстери, други влечуги.Жителите на София и на цяла България могат от нашия сайт да купят всичко необходимо за поддържането на всички домашни любимци.</p> 
        <p class="marg">Сред предложенията:</p> 
        <ul> 
            <li>специализирани продукти за кучета, котки, аквариумни риби, гризачи и папагали. ;</li>
            </ul> 
        <ul> 
            <li>продукти за разходки на животни - яки и каишки, с които и вие и вашият домашен любимец ще се чувствате комфортно по време на ходене;</li>
            </ul>
        <ul> 
            <li>аксесоари - магазинът ни за домашни любимци предлага всичко, от което се нуждаете, за да поддържате домашни любимци, както и за свободното време.Например птични клетки, аквариуми, терариуми, играчки, меки петна и други принадлежности;</li> 
            </ul>
        <ul> 
            <li>храна за животни от различни видове и породи.Представихме само висококачествена храна, която ще помогне за създаването на балансирана диета за вашия домашен любимец.В магазина ще намерите всичко необходимо за хранене, така че животното да получи необходимите хранителни вещества, витамини и микроелементи, и да расте здраво;</li> 
            </ul> 
        <ul>
            <li>продукти за грижа - можете да си купите онлайн всичко, което е необходимо за вашия домашен любимец да бъде добре поддържан.Това са различни шампоани, дезинфектанти, прахове, балсами, ножици за нокти, четки за гребени и много други;</li>
            </ul>
        <ul> 
            <li>дрехи - магазинът ни за домашни любимци предлага на собствениците да купуват неща за домашни любимци за всеки сезон.Ние можем да актуализираме гардероба на вашия домашен любимец в пълен размер.Обувки, дъждобрани, пуловери, панталони, жилетки - всичко, което ще намерите в списъка на предложените покупки.Нещата ще помогнат да се предпази животното от времето и студа по време на разходките;</li>
            </ul> 
        <ul> 
            <li>продукти от добре познати и доказани марки;</li>
            </ul> 
        <ul> 
            <li>много повече.</li>
            </ul> 
        <ul> 
            <li>Можете да видите пълния списък с продукти и марки в каталога на зоомагазина.Сайтът се събира в отделни категории, така че няма да има проблеми с търсенето.Гамата постоянно се обновява с нови оферти.</li>
            </ul>
        <h2>Онлайн магазин за домашни любимци: специални оферти за редовни клиенти</h2> 
        <p class="marg">Ние избираме за вас всеки път интересни оферти, които ще ви помогнат да закупите качествени продукти с отстъпки.Не забравяйте да се регистрирате на сайта, защото за редовните ни клиенти имаме специални отстъпки.Също така ще ви помогне да следите цялата информация за поръчките в профила си.Всеки, който посети нашия онлайн магазин за домашни любимци, може да се възползва от секциите „Най-продавани“ и „Нови продукти“.Има събрани стоки елементи, които могат да ви интересуват.При нас можете по всяко време да поръчате всичко необходимо за вашия домашен любимец - на едно място, за няколко минути.Няма нужда да се движат по различни магазини за домашни любимци в търсене на това, което е необходимо.</p>
        <h2>Хубави продукти за домашни любимци на страхотни цени.</h2> 
        <p class="marg">Ако искате да закупите продукти с високо качество за вашия домашен любимец, то добре дошли в MyPet.В допълнение, нашият сайт съдържа и полезна информация за различни животни и особеностите на грижата за тях.Нашите експерти ще ви кажат какво е най-доброто за вашия домашен любимец.Събрали сме висококачествени продукти за домашни любимци, така че тяхното съдържание да е висококачествено и удобно.Сигурни сме, че вие и вашият приятел ще сте доволни от нашите покупки!</p> 
        </div>
    </body>
</head>
