@{
    ViewData["Title"] = "Home Page";
}
<head>
    <body>
        <div class="text-center">
            <a href="https://localhost:5001/Products/Pets"> 
            <img loading="lazy" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYBvgCwpWui4OEU48Uu5UuirAs-ubT6ZXQIw&usqp=CAU"> 
            </a>
            <div class="owl-item" style="width: 100px; margin-left: 100px;">
            </div>
        </div>
    </body>
</head>
